---
layout: archive
---

{{ content }}

{% include author-profile.html %}

        <p style="font-size: 80%;"> 🎓 I’m a B.Sc. student at the Department of Computer Science and Mathematics in Ariel University. </p>
        <p style="font-size: 80%;"> 📫 How to reach me: DorAzaria@gmail.com </p>
        <a href="https://www.linkedin.com/in/Dor-Azaria/" title="Linkedin"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin%20-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white"/></a>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

